.aurora-container.with-side-nav .side-nav {
    background-color: #fafafa;
    border-right: 1px solid #e5e5e5;
}
.aurora-container.with-side-nav .side-nav .side-nav-section h5 {
    color: #404040;
}
.aurora-container.with-side-nav .side-nav li a {
    color: #606060;
}
.aurora-container.with-side-nav .side-nav li a.addGroup {
    color: #1c2855;
}
.aurora-container.with-side-nav .side-nav li a:hover {
    background: #ebebeb;
}
.aurora-container.with-side-nav .side-nav .logo-wrapper .Logo {
    background-image: url('https://svgshare.com/i/91D.svg');
    margin: 0em auto 2em auto;
}
.aurora-container.with-side-nav .side-nav .logo-wrapper {
    border-bottom: 1px solid rgba(180, 188, 199, .32);
    margin-bottom: 1em;
}
.aurora-container.with-side-nav .aurora-container-right .nav-bar.nav-bar-v2 {
    background: #f2f2f2;
    border-bottom: 2px solid #e4e4e4;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.aurora-container.with-side-nav .nav-search .aurora-auto-complete .searchInput input {
    border: 1px solid #e5e5e5;
    height: 40px;
    margin-top: 14px;
}

.aurora-container.with-side-nav .side-nav .side-nav-groups li a.active-group,
.aurora-container.with-side-nav .side-nav .side-nav-groups li a.active-group.active,
.aurora-container.with-side-nav .side-nav li a.active,
.aurora-container.with-side-nav .side-nav li a.active {
    background-color: #f0f0f0;
}

.aurora-container.with-side-nav .side-nav li a.active,
.aurora-container.with-side-nav .side-nav li a.active:hover {
    background-color: #e1e1e1;
}

.side-nav ul li a[href^="/droplets"]::before {
    content: '';
    background: url('https://svgshare.com/i/90i.svg');
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}
.side-nav ul li a[href^="/kubernetes"]::before {
    content: '';
    background: url('https://svgshare.com/i/A1a.svg');
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}
.side-nav ul li .trailingLabelBox__beta--teal {
    padding: 2px 5px;
}
.side-nav ul li a[href^="/volumes"]::before {
    content: '';
    background: url('https://svgshare.com/i/8yF.svg');
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}
.side-nav ul li a[href^="/spaces"]::before {
    content: '';
    background: url('https://svgshare.com/i/90Y.svg');
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}
.side-nav ul li a[href^="/images"]::before {
    content: '';
    background: url('https://svgur.com/i/8yG.svg');
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}
.side-nav ul li a[href^="/networking"]::before {
    content: '';
    background: url('https://svgur.com/i/90x.svg');
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}
.side-nav ul li a[href^="/monitors"]::before {
    content: '';
    background: url('https://svgur.com/i/8zY.svg') no-repeat;
    margin-top: 3px;
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}
.side-nav ul li a[href^="/account/api"]::before {
    content: '';
    background: url('https://svgshare.com/i/916.svg') no-repeat;
    margin-top: 3px;
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}
.side-nav ul li a[href^="/account/profile"]::before {
    content: '';
    background: url('https://svgur.com/i/91T.svg') no-repeat;
    margin-top: 3px;
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}

.side-nav ul li a[href^="/account/billing"]::before {
    content: '';
    background: url('https://svgshare.com/i/90R.svg') no-repeat;
    margin-top: 3px;
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}
.side-nav ul li a[href^="/account/security"]::before {
    content: '';
    background: url('https://svgshare.com/i/919.svg') no-repeat;
    margin-top: 3px;
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}

.side-nav ul li a[href^="/account/referrals"]::before {
    content: '';
    background: url('https://svgshare.com/i/90S.svg') no-repeat;
    margin-top: 3px;
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}